__pycache__
.fuse_hidden*
*.pyc
.data
venv*
.data/db.sqlite
.data
labeler/*.csv
*.ipynb_checkpoints
*.hdf5
labeler/all.json
labeler/results/
.vscode
win-venv/
**/upload.sh
**/backup_local.sh
scripts/gpup
transcribe/

# Only keep PNG sample files, generate the other example data
tests/**/*.jpg
tests/**/*.mov
tests/**/*.mp4

tests/output/